
[build]
  command = "npm run build"
  publish = "dist"

# Configuração de redirecionamento para suporte a Single Page Application (SPA)
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
